<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ExamMapper">
<!--<resultMap id="resultMap" type="examrecode">-->
    <!--<id column="id" property="id"/>-->
    <!--&lt;!&ndash;<result column="userid" property="userid"/>&ndash;&gt;-->
    <!--<result column="examName" property="examName"/>-->
    <!--<result column="examDecript" property="examDecript"/>-->
    <!--<result column="score" property="score"/>-->
    <!--<result column="examTime" property="examTime"/>-->
    <!--<association property="exam1" javaType="Exam">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="examName" property="examName"/>-->
        <!--<result column="examDecript" property="examDecript"/>-->
    <!--</association>-->
    <!--&lt;!&ndash;<association property="user" javaType="User">&ndash;&gt;-->
        <!--&lt;!&ndash;<id column="id" property="id"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<result column="loginName" property="loginName"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</association>&ndash;&gt;-->
    <!--<association property="grade" javaType="Grade">-->
        <!--<id column="id" property="id"/>-->
        <!--<result column="score" property="score"/>-->
    <!--</association>-->
<!--</resultMap>-->

    <select id="getExamRecodeList" resultMap="resultMap1" parameterType="hashmap">
        SELECT e.id,e.`examName`,e.`examDecript`,g.`score`FROM exam e LEFT JOIN grade g ON g.examid=e.id AND g.`userid`=#{userid} WHERE e.classid=#{classid}
        <where>
            <if test="examName != null and examName != ''">
                and examName like '%${examName}%'
            </if>
        </where>
        limit #{pagestart},#{size}
    </select>

    <select id="examrecodeCount" resultType="integer">
        select count(*) from examrecode
    </select>






    <resultMap id="resultMap1" type="examUser">
        <id column="id" property="id"/>
        <result column="examName" property="examName"/>
        <result column="publisher" property="publisher"/>
        <result column="examDecript" property="examDecript"/>
        <result column="classid" property="classid"/>
        <result column="pubstauts" property="pubstauts"/>
        <result column="browsetype" property="browsetype"/>
        <result column="publicTime" property="publicTime"/>
        <association property="user" javaType="User">
            <id column="id" property="id"/>
            <result column="loginName" property="loginName"/>
        </association>
        <association property="grade" javaType="Grade">
            <id column="id" property="id"/>
            <result column="score" property="score"/>
        </association>
    </resultMap>

    <select id="getexamList" resultMap="resultMap1" parameterType="hashmap">
        SELECT e.*,u.id AS uid,u.loginName FROM exam e INNER JOIN USER u ON e.publisher=u.id
        <where>
            <if test="examName != null and examName != ''">
                and examName like  '%${examName}%'
            </if>
        </where>
        limit #{pagestart},#{size}
    </select>

    <select id="examListCount" resultType="integer">
        select count(*) from exam
    </select>

    <delete id="deleteit" parameterType="examUser">
        delete from exam where id=#{id}
    </delete>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="ExamUser">
        insert into exam value (null,#{examName},#{examDecript},#{classid},#{pubstauts},#{testType},#{browsetype},#{publisher},#{release},null)
    </insert>
</mapper>